
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form action="Login" method="post">
        <input type="email" name="username" placeholder="Enter Your Username" />
        <br />  
        <input type="password" name="password" placeholder="Enter Your Password" />
        <br />  
        <input type="submit" value="login" />
    </form>
</div>

